* {
    font-family: Tahoma, sans-serif;
    font-size: 12px;
}

body {
    padding: 0px;
    margin: 0px;
    background-image: url("../images/body/background_pattern.png");
}

img {
    vertical-align: middle;
}

a:link, a:visited, a:active, a:hover {
	color: #000000;
}

/*
 * Main
 */
#main {
    
}

/*
 * Container
 */
#main #container {
    margin: 0px auto;
    width: 800px;
    overflow: hidden;
}

#main #container #corner_left {
    width: 12px;
    height: 8px;
    background-image: url("../images/body/corner_left.png");
    background-repeat: no-repeat;
    float: left;
}

#main #container #top_1 {
    width: 760px;
    height: 8px;
    background-image: url("../images/body/top_1.png");
    background-repeat: repeat-x;
    float: left;
}

#main #container #corner_right {
    width: 22px;
    height: 8px;
    background-image: url("../images/body/corner_right.png");
    background-repeat: no-repeat;
    float: left;
}

#main #container #left_body_1 {
    width: 12px;
    height: 78px;
    background-image: url("../images/body/left_body_1.png");
    background-repeat: no-repeat;
    float: left;
}

#main #container #top_2 {
    width: 760px;
    height: 78px;
    background-image: url("../images/body/top_2.png");
    background-repeat: repeat-x;
    float: left;
}

#main #container #right_body_1 {
    width: 22px;
    height: 78px;
    background-image: url("../images/body/right_body_1.png");
    background-repeat: no-repeat;
    float: left;
    clear: right;
}

#main #container #body {
    width: 794px;
    background-image: url("../images/body/body_background.png");
    background-repeat: repeat-y;
    float: left;
    padding: 15px;
    clear: right;
}

#main #container #body #tour img {
    opacity: 0;
    margin-left: 5px;
    margin-right: 5px;
}

#main #container #info a:link,
#main #container #info a:active,
#main #container #info a:visited,
#main #container #info a:hover {
	font-size: 10px;
	color: #c0c0c0;
	text-decoration: none;
}

/*
 *  Bottom
 */
#main #corner_left_bottom {
    width: 12px;
    height: 19px;
    background-image: url("../images/body/corner_left_bottom.png");
    background-repeat: no-repeat;
    float: left;
}

#main #bottom {
    width: 760px;
    height: 19px;
    background-image: url("../images/body/body_background_bottom.png");
    background-repeat: repeat-x;
    float: left;
    text-align: center;
}

#main #corner_right_bottom {
    width: 22px;
    height: 19px;
    background-image: url("../images/body/corner_right_bottom.png");
    background-repeat: no-repeat;
    float: left;
    clear: right;
}
