.customTip {
    color: #ffffff;
    width: 330px;
    z-index: 13000;
    position: relative;
}

.tip-bottom {
    background-image: url('../images/tooltips/bubble_bottom.png');
    background-repeat: no-repeat;
    height: 20px;
}
 
.tip-title {
    font-weight: bold;
    font-size: 11px;
    margin: 0;
    color: #9fd4ff;
    padding: 8px 8px 4px;
    background: url('../images/tooltips/bubble.png') top left;
}
 
.tip-text {
    font-size: 11px;
    padding: 4px 8px 8px;
    color: #ffffff;
    background: url('../images/tooltips/bubble.png') bottom right;
}

.tip-text small {
    font-size: 9px;
    color: #c1ef36;
    font-weight: bold;
}
